@charset "utf-8";
body {
    text-align: center;
    background-color: #766DB1;
    float: none;
}
p {
    text-align: center;
}
li {
    text-align: left;
}
ul {
    text-align: left;
}


hea {
}
head {
    text-align: center;
    background-color: #C86F70;
}
h1 {
    text-align: center;
    background-color: #4B7F7C;
    border-width: thin;
}
form p {
    text-align: left;
}

form {
    text-align: left;
}
